@import url('https://fonts.googleapis.com/css2? família=Roboto&display=swap');
@import url('https://fonts.cdnfonts.com/css/montserrat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 3px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #de8c3b;
    border-radius: 0px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #de8c3b;
}

.cabecalho {
    display: flex;
    width: 100%;
    height: 180;
    background-color: #1c132e;

}

.logo {
    position: absolute;
    height: 200;
    left: 30;
}


.descricao {
    position: absolute;
    top: 80;
    left: 27%;
    font-family: 'Montserrat';
    font-weight: 800;
    color: #c8b8eb;
    font-size: 30px;
    user-select: none;
}

.redes_sociais {
    position: absolute;
    left: 80%;
    top: 80;
}

.Instagram {
    height: 27px;
}

.Linkedin {
    height: 30px;
    margin-left: 15px;
}

.imagem-principal {
    width: 100%;
}

.texto-imagem-principal {
    position: absolute;
    font-family: 'Montserrat';
    color: white;
    font-size: 40px;
    font-weight: 800;
    margin-top: 15%;
    margin-left: 5%;
}

.descricao-imagem-principal {
    position: absolute;
    font-family: 'Montserrat';
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20%;
    margin-left: 5%;
}

.botaosobreimagem {
    position: relative;
    text-align: center;
}


.pesquisar_artigo {
    position: absolute;
    width: 250px;
    height: 90px;
    top: 70%;
    left: 7%;
}

.pesquisar_artigo input {
    width: 100%;
    height: auto;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    padding: 15px;
    text-align: center;
    background-color: #de8c3b;
    border: none;
    border-radius: 6px;
    outline: none;
    color: white;
}

.pesquisar_artigo input:focus::-webkit-input-placeholder {
    color: transparent;

}

::placeholder {
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
}

.titulo-artigos{
    font-family: 'Montserrat';
    color: #8974b6;
    padding: 20px;
}

.subtitulo-artigos{
    font-family: 'Montserrat';
    color:#de8c3b;
    padding: 20px;
}

.Artigo1 {
    display: inline-block;
    background-color: white;
    width: 100%;
    font-family: 'Montserrat';
    padding: 30px;
    text-align: center;
}

.Artigo1 p {
    display: block;
    width: 100%;
    padding-top: 20px;
    text-align: center;
}

.artigo1-imagem1 {
    display: flex;
    margin: auto;
    padding-bottom: 20px;
    max-width: 700px;
    width: 100%;

}

figcaption {
    opacity: 0.6;
}

.saegro {
    width: auto;
    height: auto;
    color: #c8b8eb;
    font-size: 13px;
    font-family: 'Montserrat';
    font-weight: 700;
    margin: 45px;
}

footer {
    display: flex;
    background-color: #1c132e;
    height: 100px;
    width: 100%;
    font-family: 'Montserrat';
    justify-content: center;
}

@media (max-width: 600px) {
    .descricao {
        font-size: 18;
        left: 26%;
        top: 12%;
    }

    .logo {
        height: 120;
        top: 30;
        left: 10;
    }

    .Instagram {
        margin-top: 50px;
        height: 20;
    }

    .Linkedin {
        height: 25;
        margin-left: 10;
    }

    .texto-imagem-principal{
        font-size: 20px;
        margin-top: 10%;
    }

    .descricao-imagem-principal{
        font-size: 15px;
        margin-top: 40%;
    }

    .pesquisar_artigo {
        position: absolute;
        width: auto;
        top: 93%;
        left: 30%;
    }
    
    .pesquisar_artigo input {
        width: auto;
        height: auto;
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 13px;
        padding: 10px;
        text-align: center;
        background-color: #de8c3b;
        border: none;
        border-radius: 6px;
        outline: none;
        color: white;
    }
    
}